<br>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tuber</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/showSignIn">My Account</a></li>
            <li role="presentation"><a href="/map">Map</a></li>
            <li role="presentation"><a href="/showSignIn">Tutor Requests</a></li>
            <li role="presentation"><a href="/showSignIn">Sign In</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="#">Tuber</a></h3>
      </div>
      <div class="jumbotron">
      <h3>Tell us about yourself!</h3>
      <form method="POST" action="/">
        <div class="form-group" align=left>
          <label for="name">Name:</label>
          <input type="name" class="form-control" id="name" name="name">
        </div>
        <div class="form-group" align=left>
          <label for="major">Major:</label>
          <input type="major" class="form-control" id="major" name="major">
        </div>
        <div class="form-group" align=left>
          <label for="best_class">Best Class:</label>
          <input type="best_class" class="form-control" id="best_class" name="bestclass">
        </div>
        <div class="form-group" align=left>
          <label for="">Want tutors for:</label>
          <input type="worst_class" class="form-control" id="worst_class" name="wanttutors">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Tuber 2017</p>
      </footer>

    </div>
  </body>
</html>

