<br><br>
<html lang="en">
 
<head>
    <title>Tuber Student</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
 
 
</head>
 

  <body>


    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    <li role="presentation"><a href="/userHome">My Account</a>
                    <li role="presentation" class="active"><a href="/map">Map</a>

                    {% if current_user.available %}
                        <li role="presentation"><a href="/pending">Tutor Requests <span class="badge">{{ current_user.pending }}</a></li>
                    {% else %}
                        <li role="presentation"><a href="/pending">Tutor Requests</a></li>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                        <li role="presentation"><a href="signin.html">Log In</a></li>
                    {% else %}
                        <li role="presentation"><a href="/logout">Log out</a></li>
                    {% endif %}
                </ul>
            </nav>
            <h3 class="text-muted"><a href="/userHome">Tuber</a></h3>
        </div>
    
        <div class="jumbotron">
            
         <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
        
        var map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 37.366670, lng: -120.424517},
              zoom: 18
        });

        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            var myLatLng2 = {lat: 37.3666349, lng: -120.422957};
            var marker = new google.maps.Marker({
              position: myLatLng2,
              map: map,
              title: 'John Smith'
            });

            var myLatLng3 = {lat: 37.366245, lng: -120.426758};
            var marker2 = new google.maps.Marker({
              position: myLatLng3,
              map: map,
              title: 'Albert Einstein'
            });

            var myLatLng4 = {lat: 37.370633, lng: -120.429064};
            var marker3 = new google.maps.Marker({
              position: myLatLng4,
              map: map,
              title: 'The Queen'
            });

            infoWindow.setPosition(pos);
            infoWindow.setContent('You are here.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }


      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp2TYFi042emFh4QqqXPtUZCgM_sctki8&callback=initMap">
    </script>
 
        </div>
        
 
 
        <footer class="footer">
            <p>&copy; Tuber 2017</p>
        </footer>
 
    </div>
</body>
 
</html>