<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Tuber Student</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">

    <script>
    function notLoggedIn() {
        window.location.assign("/signin.html")
    }
    </script>
 
 
</head>
 
<body>

    {% if not current_user.is_authenticated %}
        <script>
            notLoggedIn();
        </script>
    {% endif %}
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    <li role="presentation" class="active"><a href="#">My Account</a>
                    <li role="presentation"><a href="/map">Map</a>
                    {% if current_user.available %}
                        <li role="presentation"><a href="/pending">Tutor Requests <span class="badge">{{ current_user.pending }}</a></li>
                    {% else %}
                        <li role="presentation"><a href="/pending">Tutor Requests</a></li>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                        <li role="presentation"><a href="/logout">Log In</a></li>
                    {% else %}
                        <li role="presentation"><a href="/logout">Log out</a></li>
                    {% endif %}
                </ul>
            </nav>
            <h3 class="text-muted"><a href="/userHome">Tuber</a></h3>
        </div>
    
        <div class="jumbotron">
            

            <style>
            .card {
                /* Add shadows to create the "card" effect */
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
            }

            /* On mouse-over, add a deeper shadow */
            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

            /* Add some padding inside the card container */
            .container {
                padding: 2px 16px;
            }</style>
            <div class="card">
              <img src="/static/user_male2-512.png" alt="Avatar" align='center' style="width:20%">
              <div class="container">
              {% if current_user.accepted %} 
                <h4> You are currently tutoring {{ current_user.nickname }}</h4>
                <h4><b>Accepted: {{ current_user.accepted }}</b></h4> 
                <h4><b>Availability: {{ current_user.available }}</b></h4> 
                <a href="/donetutoring">Done Tutoring</a>
                {% else %}
                <h4><b>Display Name: {{ current_user.nickname }}</b></h4> 
                <h4><b>Contact Email: {{ current_user.email }}</b></h4> 
                <h4><b>Current Availability: {{ current_user.available }}</b></h4> 

                <br>
                {% endif %}
                
                
              </div>
            </div>
            <br><br>
            <!--<h4>User ID: {{ current_user.id }}</h4>
            <h4>Facebook ID: {{ current_user.social_id}}</h4>
            <h4>Nickname: {{ current_user.nickname}}</h4>
            <h4>Email: {{ current_user.email}}</h4>
            <h4>Availability: {{ current_user.available}}</h4>
            <h4>Pending: {{ current_user.pending}}</h4>
            <h4>Accepted: {{ current_user.accepted}}</h4>
            <h4>Name: {{ current_user.name}}</h4>
            <h4>Major: {{ current_user.major}}</h4>
            <h4>Best Class: {{ current_user.best_class}}</h4>
            <h4>Wants Tutors For: {{ current_user.tutor_wants}}</h4>-->


            <p><a class="btn-lg btn-primary" href="/requestTutors" role="button">I need help!</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn-lg btn-primary btn-space" href="/makePost" role="button">Groupwork!</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn-lg btn-primary btn-space" href="/makePost" role="button">I can help!</a></p>
 
        </div>
 
        <footer class="footer">
            <p>&copy; Tuber 2017</p>
        </footer>
 
    </div>
</body>
 
</html>